@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    <div class="row">
        <div class="col-xs-12 Header">
            <p><span class="weatherLocation"></span> weather for the next 5 days is: </p>
        </div>
        <div class="col-xs-12">
            <ul class="row List"></ul>
        </div>
    </div>
