html{
    font-family: 'Roboto', sans-serif;
    span {
        color: Red;
        font-size: 18px;
        font-weight: bold;
        text-decoration: underline;
    }
}

.loginLogoutContainer{
    position: absolute;
    top: 1%;
    right: 3%;
    text-align: right;
}

.app_wrapper{
    margin: auto;
    max-width: 1200px;
}
.weatherToday {
    padding: 15px;
    margin: 0;
    list-style:none;
    display: flex;
    flex-direction: column;

    
    
    > li{ }
    
    @include MQ(768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
}

.List {
    padding: 15px;
    margin: 0;
    list-style:none;
    display: flex;
    flex-direction: column;

    
    
    > li{ }
    
    @include MQ(768px) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        
    }
}


// .container-fluid {
//     margin: 15px;

//     p {
//         flex-grow: 1;
//         flex-basis: 100%;
//         align-self: stretch;
//         margin: 15px;

//         span {
//             color: Red;
//             font-size: 18px;
//             font-weight: bold;
//             text-decoration: underline;
//         }
//     }
// }
// .Header {
//     display: flex; /* or inline-flex */
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: flex-start;

//     h1 {
//         flex-grow: 1;
//         flex-basis: 100%;
//         align-self: stretch;
//         margin: 15px;
//     }

//     p {
//         flex-grow: 1;
//         flex-basis: 100%;
//         align-self: stretch;
//         margin: 15px;

//         span {
//             color: Red;
//             font-size: 18px;
//             font-weight: bold;
//             text-decoration: underline;
//         }
//     }

//     button {
//         flex-grow: 0;
//         flex-basis: 10%;
//         margin: 15px;
//     }

//     input {
//         flex-grow: 0;
//         flex-basis: 7%;
//         margin: 15px;
//     }

//     label {
//         flex-grow: 0;
//         flex-basis: 3%;
//         margin: 15px;
//     }
// }
// .weatherToday{
//     display: flex; /* or inline-flex */
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
//     list-style-type: none;
//     padding: 0;

//     &__Item {
//         flex-grow: 1;
//         flex-basis: 100%;
//         align-self: flex-start;
//         margin: 15px;
//         text-align: center;
//         @include MQ(600px) 
//         {
//             flex-basis: 47%;
//             margin: 10px;
//         }
//         @include MQ(850px) 
//         {
//             flex-basis: 18%;
//         }
//         @include MQ(1300px) 
//         {
//             flex-basis: 17%;
//         }

//         img {
//             width: 100%;

//             @include MQ(650px){
//                 width: 200px;
//             }
//         }
//     }
// }
// .List{
//     display: flex; /* or inline-flex */
//     flex-direction: column;
//     flex-wrap: wrap;
//     justify-content: flex-start;
//     list-style-type: none;
//     padding: 0;

//     @include MQ(780px) {
//         flex-direction: row;
//     }

//     &__Item {
//         flex-grow: 1;
//         flex-basis: 100%;
//         align-self: stretch;
//         margin: 15px;

//         @include MQ(600px) 
//         {
//             flex-basis: 47%;
//             margin: 10px;
//         }
//         @include MQ(850px) 
//         {
//             flex-basis: 18%;
//         }
//         @include MQ(1300px) 
//         {
//             flex-basis: 17%;
//         }
//         img {
//             width: 200px;

//             @include MQ(1200px) {
//                 width: 100%;
//             }
//         }
        
        
//     }
// }

// .loginLogoutContainer {

//     float: right;
//     text-align: right;
// }