@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/Assets/scss/syles.css" />

<div class="app_wrapper">@RenderBody()</div>

<script src="~/Assets/js/jquery-3.1.1.min.js"></script>
<script src="~/Assets/js/scripts.js"></script>